<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&_v=20220517002322" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.min.css?_v=20220517002322">
    <title>Комнаты</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
    <div class="header__container">
        <div class="header__info">
            <div class="header__subtitle">Заведующий Попов А. И.</div>
            <div class="header__nav">
                <h2 class="header__title">Комнаты</h2>
                <button class="header__button" onclick="window.history.back()">Назад</button>
                <button class="header__button" onClick='location.href="{{"/"}}"'>На главную</button>
            </div>
        </div>
        <div class="header__list">
            <div class="header__list-title">Системный администратор:</div>
            <div class="header__list-content">
                <div class="header__list-img">
                    <img src="/static/img/key.svg" alt="key">
                </div>
                <div class="header__list-items">
                    <div class="header__list-item">
                        <div class="tel"><a href="tel:+79999999999">+7-999-999-99-99</a></div>
                    </div>
                    <div class="header__list-item">
                        <div class="mail"><a href="mailto:admin@inbox.ru">admin@inbox.ru</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        <main class="main">
            <div class="menu">
    <div class="menu__container-other">
        <a href="#popup__add-room" class="menu__button button popup-link">Добавить</a>
        <form action="{{'/search/room'}}" method="post" class="menu__search search">
            <input type="text" id="search" name="text">
            <button type="submit" class="search__button button">Найти</button>
        </form>
    </div>
</div>
            <section class="main-table">
                <div class="main-table__container">
                    <table class="main-table__table">
                        <tbody>
                            <tr>
                                <th>Этаж</th>
                                <th>Сеция</th>
                                <th>Номер</th>
                                <th>Тип</th>
                                <th>Ежемесячная стоимость с человека</th>
                                <th>Проживащие</th>
                                <th class="cell__buttons"></th>
                            </tr>
                            {% for i in rooms %}
                            <tr>
                                <td>{{ i[0].stage }}  <input value="{{ i[0].stage }}"  style="display: none; width: 90%;" name="{{i[0].id}}" id="stage"></input></td>
                                <td>{{ i[0].section}} <input value="{{ i[0].section }}"  style="display: none; width: 90%;" name="{{i[0].id}}" id="section"></input></td>
                                <td>{{ i[0].id }} <input value="{{ i[0].id }}"  style="display: none; width: 90%;" name="{{i[0].id}}" id="id"></input></td>
                                <td>{{ i[0].type }} <input value="{{ i[0].type }}" list="typeList" style="display: none; width: 90%;" name="{{i[0].id}}" id="type">
                                    </input></td>
                                <td>{{ i[0].price}} руб. <input value="{{ i[0].price }}"  style="display: none; width: 90%;" name="{{i[0].id}}" id="price"></input></td>
                                <td style="white-space: pre-wrap">{{ i[1] }}</td>
                                <button onclick="saveR({{i[0].id}})" name="{{i[0].id}}" style="display: none" class="button button__table">Сохранить</button>
                                <button onclick="reload1()" style="display: none" class="button button__table" id="rel">Обновить</button>
                                <td class="cell__buttons">
                                    <button class="button button__table" onclick="editR({{i[0].id}})">Редактировать</button>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </section>

            <script>
            
                function editR(id){
                    el = document.getElementsByName(id);
                    for(var i=0; i<el.length; i++){
                        el[i].style.display = 'inline';
                    }
    
                };
                function saveR(id) {
                    el = document.getElementsByName(id);
                    data = '';
                    for (var i = 0; i < el.length; i++) {
                        el[i].style.display = 'inline';
                        data += el[i].value + '<>';
                        
                    }
                    fetch('/edit/rooms', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({'id': id, 'data': data})
                        });
                    
                        for(var i=0; i<el.length; i++){
                        el[i].style.display = 'None';
                    }
                    document.getElementById('rel').style.display = 'inline';
    
                }

                function reload1() {
                    window.location.reload();
                }
            </script>
        </main>
        <footer class="footer"></footer>
    </div>
    <!-- ПОПАП -->
    <div id="popup__add-room" class="popup popup__add-room">
    <div class="popup__body">
        <div class="popup__content">
            <div class="popup__header">
                <h2 class="popup__title">Внесите данные:</h2>
            </div>
            <div class="popup__preform">
                <!-- Форма проживания -->
                <form action="{{ '/rooms'}}" method="post" class="popup__form form">
                    <span>
                        <input class="form__input" id="floor" type="number" placeholder="Введите Этаж" required name="stage" /><label
                            for="floor" >Этаж</label>
                    </span>
                    <span>
                        <input class="form__input" id="section" type="text" placeholder="Введите Секцию"
                            required name="section" /><label for="section">Секция</label>
                    </span>
                    <span>
                        <input class="form__input" id="number" type="number" placeholder="Введите Номер"
                            required name="number" /><label for="number">Номер</label>
                    </span>
                    <span>
                        <input class="form__input" id="type" type="text" list="typeList" name="type" placeholder="Введите Тип" required /><label
                            for="type" n>Тип</label>
                            <datalist id="typeList">
                                <option value="1">
                                <option value="2"> 
                                <option value="3">
                              </datalist>
                    </span>
                    <span>
                        <input class="form__input" id="price" type="number" placeholder="Введите Стоимость"
                            required name="price" /><label for="price">Стоимость в месяц</label>
                    </span>
                    <!-- <span>
                        <input class="form__input" id="per" type="number" placeholder="Введите Количество Мест"
                            required /><label for="per">Количество мест</label>
                    </span> -->
                    <!-- <span>
                        <input class="form__input" id="residents" type="text" placeholder="Введите ФИО"
                            required /><label for="residents">Проживающие</label>
                    </span> -->
                    <div class="form__buttons">
                        <button type="button" class="header__button button close-popup"
                            onclick="window.history.back()">Назад</button>
                        <button type="form" class="form__button button">Добавить</button>
                    </div>
                </form>
                <!-- --- -->
            </div>
        </div>
    </div>
</div>
    <!-- --- -->
    <script src="/static/js/app.min.js?_v=20220517002322"></script>
</body>

</html>